[req]
default_days = 3650                             # Root CA is good for 10 years
default_bits = 8192                             # Use 8192 bit key
default_keyfile = conf/tls/root_CA.key          # Location to write cert
encrypt_key = no                                # Disable password encryption
prompt = no                                     
utf8 = yes  
default_md = sha512                             # Use SHA512
x509_extensions = v3_req                        # TLS v3.0
distinguished_name = my_req_distinguished_name

[my_req_distinguished_name]
C = US
ST = NY
L = Buffalo
O = Example
emailAddress = admin@{{ base_domain }}
CN = {{ base_domain }} root CA

[v3_req]
keyUsage=critical, digitalSignature, keyEncipherment, keyCertSign
basicConstraints=critical,CA:TRUE
extendedKeyUsage=critical,serverAuth
subjectKeyIdentifier = hash